@font-face {
    font-family: pixelated;
    src: url(PixelifySans-VariableFont_wght.ttf)
}

ul {
    text-align: center;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-size: 100%;
    background-color: #F8F9F9;
    color: white;
    font-family:pixelated;
    padding: 0;
    margin: 0;
    text-align: center;
    }

header {
    background: #1E3A5F;
    color:#F8F9F9;
    text-align: left;
    display: block;
    font-size: 30px;
    padding: 15px;
    font-family:pixelated;
}

.subheader {
    background: #94B7CD;
    text-align: left;
    display: block;
    font-size: 25px;
    padding: 20px;
    border-radius: auto;
}

/*section {
    background: #A9D1E8;
    color: #1E3A5F;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    border-radius:1em;
}
    */
footer {
    background: #1E3A5F;
    text-align: center;
    color:#F8F9F9;
    font-family:pixelated;
    vertical-align: center;
    padding: 0;
    height: 50px;
}
    
label {
    font-size: 18px;
    padding: 15px 32px;
    border-radius:1em;
}

h1 {
    color: #F8F9F9;
    text-align: center;
    margin-top: 15px;
    font-family:pixelated;
    display: inline-block;
    font-size: 25px;
    border-radius:1em;
}

h2 {
    color: #A9D1E8;
    text-align: center;
    margin-top: 5px;
    font-family:pixelated;
    display: inline-block;
    font-size: 18px;
    border-radius:1em;
}

/* For dashboard */
.meallog {
    background: #A9D1E8;
    border-radius: 20px;
}

.remainmeals {
    background: #A9D1E8;
    border-radius: 20px;
    color: #1E3A5F;
    padding: 10px ;
    font-size: 25px;
    
}

.horizrow {
    display: inline-block;
    padding: 10px;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border-radius:1em;
    width: 25%;
    vertical-align: top;    
}

.vertrow {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 100px;
}

.dashbutton {
    background-color: #4A769E;
    color: #F8F9F9;
    font-size: 18px;
    margin: 0 15px;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:pixelated;
    border-radius:1em;
}

.daysleft {
    background: #1E3A5F;
    border-radius: 20px;
    color: #A9D1E8;
    padding: 10px ;
}

/* for survey */
.question {
    background: #94B7CD;
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    border-radius:15px;
    width: 75%;
    vertical-align: top;    
}
