@font-face {
    font-family: pixelated;
    src: url(PixelifySans-VariableFont_wght.ttf)
}

.annaul {
    text-align: center;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-size: 100%;
    background-color: #F8F9F9;
    color: white;
    font-family: pixelated;
    padding: 0;
    margin: 0;
    text-align: center;
}

.annaheader {
    background: #1E3A5F;
    color: #F8F9F9;
    text-align: left;
    display: block;
    font-size: 30px;
    padding: 15px;
    font-family: pixelated;
}

.subheader {
    background: #94B7CD;
    text-align: left;
    display: block;
    font-size: 25px;
    padding: 20px;
    border-radius: auto;
}

/*section {
    background: #A9D1E8;
    color: #1E3A5F;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    border-radius:1em;
}
    */
footer {
    background: #1E3A5F;
    text-align: center;
    color: #F8F9F9;
    font-family: pixelated;
    vertical-align: center;
    padding: 30px 0;
    height: 50px;
}

/*label {
    font-size: 18px;
    padding: 15px 32px;
    border-radius: 1em;
}*/

.annah1 {
    color: #F8F9F9;
    text-align: center;
    margin-top: 15px;
    font-family: pixelated;
    display: inline-block;
    font-size: 25px;
    border-radius: 1em;
}

.annah2 {
    color: #1E3A5F;
    text-align: center;
    margin-top: 5px;
    font-family: pixelated;
    display: inline-block;
    font-size: 18px;
    border-radius: 1em;
}

/* For dashboard */
.meallog {
    background: #A9D1E8;
    border-radius: 20px;
}

.remainmeals {
    background: #A9D1E8;
    border-radius: 20px;
    color: #1E3A5F;
    padding: 10px;
    font-size: 25px;

}

.horizrow {
    display: inline-block;
    padding: 10px;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border-radius: 1em;
    width: 25%;
    vertical-align: top;
}

.vertrow {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 100px;
}

.dashbutton {
    background-color: #4A769E;
    color: #F8F9F9;
    font-size: 18px;
    margin: 0 15px;
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: pixelated;
    border-radius: 1em;
}

.daysleft {
    background: #1E3A5F;
    border-radius: 20px;
    color: #A9D1E8;
    padding: 10px;
}

/* for landing page */

.hungryimg {
    size: 50%
}

.hero1 {
    font-size: 80px;
    color: #F8F9F9;
}

.hero2 {
    font-size: 40px;
    color: #1E3A5F;
}

/* for survey */
.question {
    background: #94B7CD;
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    border-radius: 15px;
    width: 75%;
    vertical-align: top;
}

/*for header */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logoimg {
    float: left;
}

.logoheader {
    float: left;
}

.wrapper {
    box-sizing: border-box;
    background-color: #7BAFD4;
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #1E3A5F;
    color: #A9D1E8;
    text-align: left;
    margin-top: 15px;
    font-family: pixelated;
    font-size: 25px;
    padding: 5px;
}

section {
    background-color: #A9D1E8;
    color: #1E3A5F;
    text-align: center;
    margin-top: 15px;
    font-family: pixelated;
    font-size: 25px;
    padding: 5px;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: #4A769E;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}



form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #A9D1E8
}

form input:focus {
    outline: none;
    border-color: #2E2B41;
}

form input::placeholder {
    color: #2E2B41;
    opacity: 1;
}

h1 {
    color: #1E3A5F;
    text-align: left;
    margin-top: 15px;
    font-weight: 900px;
    font-family: pixelated;
    font-size: 40px;
}

h2 {
    color: #A9D1E8;
    text-align: center;
    margin-top: 15px;
    font-family: pixelated;
    font-size: 25px;
}


button {
    background-color: #4A769E;
    color: #FFFF;
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: pixelated;
    border-radius: 1em;
}

form button:hover {
    background-color: #2E2B41;
}

@media(max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

.surveyquestions {
    font-size: 18px;
    padding: 15px 32px;
    border-radius: 1em;
}